body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#chess-area {
  width: 100%;
  min-height: 100vh;

  .chess-board-wrapper {
    /* Center the chessboard within the column */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* Add some padding */
  }

  #chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 100%;
    max-width: min(70vh, 100%);
    aspect-ratio: 1 / 1;

    border: 2px solid #333;

    .square {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;


      &.light {
        background: #f9dfc6;
      }

      &.dark {
        background: #994c00;
      }

      &.selected {
        background: #7fb069 !important;
      }

      &.possible-move {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background: rgba(0, 255, 0, 0.6);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }


  #gameInfo {
    background: #fbb1d3;
    /* Take remaining space */
    padding: 20px;
  }
}