@use "sass:color";

$closed_color: #f7a83a;

body.swal2-shown>[aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(3px);
}

a {
  text-decoration: none !important;
}

.player-list,
.game-list {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
}

.player-item,
.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #e9ecef;
  border-radius: 3px;

  &.active {
    background-color: #4ed255;
  }

  &.closed {
    background-color: $closed_color;
  }

  &:hover {
    background-color: #eff5a0;
  }
}

.action-icons {
  display: flex;
  gap: 10px;

  .trash-icon {
    color: color.complement($closed_color);
  }
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand img {
  height: 30px;
}

.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;

  .user-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.dropdown-icon {
  font-size: 1rem;

  .red {
    color: #f00;
  }

  .green {
    color: #26ea67;
  }
}

#selected-players {
  text-align: center;

  .thebadge {
    font-size: 1rem;

    button {
      font-size: 0.8rem;
    }
  }
}

.myh2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.onlinebadge {
  border-radius: 0.2em;
  padding: 0 0.5em;

  &.online {
    color: #fff;
    background: #157347;
  }

  &.offline {
    color: #bbb;
    background: #dc3545;
  }

}